
html, body {
            height: 100%;
        }

        .container-fluid.content {
            padding-top: 57px;
            height: 100%;
        }

        .container-fluid.content > .row {
                height: 100%;
            }

        .mainview, .leftview, .rightview {
            padding-top: 0%;
            height: 100%;
            padding-right:5%;
            overflow: hidden;
        }

        .mainview, .leftview, .rightview {
            background-color: #fff;
        }

        @media (max-width: 767px) {
            .mainview, .leftview, .rightview {
                height: auto;
            }
        }

		.leftview {
			width: 30%;
			}

		.rightview {
			width: 20%;
			}

		.mainview {
			width: 70%;
			}


        .navbar-custom .icon-bar {
            background-color: #fff;
        }

        .navbar-custom {
            background-color:#fff;
            color: #fff;

        }

        .nav navbar-nav navbar-right {
			padding-right: 57px;

		}
        .navbar navbar-custom navbar-fixed-top {
			padding-right: 57px;

		}

        .navbar-img{
        display: block; margin-left: 0%; width: 50%; margin-bottom: 50%
        }

        .btn-custom {
          color: #ffffff;
          background-color: #0c5995;
          border-color: #000000;
        }

        .btn-custom:hover,
        .btn-custom:focus,
        .btn-custom:active,
        .btn-custom.active,
        .open .dropdown-toggle.btn-custom {
          color: #ffffff;
          background-color: #798396;
          border-color: #000000;
        }

        .btn-custom:active,
        .btn-custom.active,
        .open .dropdown-toggle.btn-custom {
          background-image: none;
        }

        .btn-custom.disabled,
        .btn-custom[disabled],
        fieldset[disabled] .btn-custom,
        .btn-custom.disabled:hover,
        .btn-custom[disabled]:hover,
        fieldset[disabled] .btn-custom:hover,
        .btn-custom.disabled:focus,
        .btn-custom[disabled]:focus,
        fieldset[disabled] .btn-custom:focus,
        .btn-custom.disabled:active,
        .btn-custom[disabled]:active,
        fieldset[disabled] .btn-custom:active,
        .btn-custom.disabled.active,
        .btn-custom[disabled].active,
        fieldset[disabled] .btn-custom.active {
          background-color: #b5c5e2;
          border-color: #000000;
        }

        .btn-custom .badge {
          color: #0953AD;
          background-color: #ffffff;
        }

        .top-panel {
            height: calc(95% - 15px);
            width: calc(100% + 15px);
            position: relative;
            background-color: white;
        }

        .top-right-panel {
            height: calc(55% - 15px);
            width: 100%;
            position: relative;
            background-color: white;
            padding-right: 57px;
        }

        .bottom-panel {
            height: calc(45% - 15px);
            width: calc(100% + 20px);
            top: 15px;
            position: relative;
            background-color: white;

        }

        .bottom-left-panel {
            height: calc(45% - 15px);
            width: calc(100% + 20px);
            top: 15px;
            position: relative;
            background-color: white;
            overflow-y:auto;

        }

        .bottom-right-panel {
            height: calc(45% - 15px);
            width: 100%;
            top: 15px;
            position: relative;
            background-color: white;
        }

        #map {
            height: calc(100% - 5%);
            width: calc(100% - 2%);
            left: 0%;
            top: 0%;
            position: relative;
            background-color: #ddd;
        }


        .bottom-panel-menu {
            left:5px;
            top:5px;
            height: 55px;
            width: 100%;
            position: relative;
            background-color: white;
        }


        .bottom-panel-chart {
            height: calc(100% - 55px);
            width: 100%;
            position: relative;
            background-color: white;
        }


        #chartDiv {
            height: 100%;
            min-width: 450px;
            position: relative;
        }




        .loading {
          position: absolute;
          left: 10px;
          top: 10px;
        }

        .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    /*background-color: #1d1a2c;*/
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     /*color:#fff;*/
 }

.legend-block {
  width:20px;
  height:20px;
  margin-right:10px;
  float: left;
  border:#bbb solid 1px;
  background-color:#D3D3D3;
}

.primitive-block {
  width:20px;
  height:20px;
  margin-right:10px;
  float: left;
  border:#bbb solid 1px;
  background-color:#D3D3D3;
}

.water #timeslider {
  margin-left: 30px;
  width: 60px;
}


         #saveKmlUI, #loadKmlUI {
            background-color: #fff;
            border: 2px solid #fff;
            border-radius: 3px;
            box-shadow: 0 2px 6px rgba(0,0,0,.3);
            cursor: pointer;
            float: left;
            margin-bottom: 22px;
            text-align: center;
        }
        #saveKmlText, #loadKmlText {

            color: rgb(25,25,25);
            font-family: Roboto,Arial,sans-serif;
            font-size: 15px;
            line-height: 25px;
            padding-left: 5px;
            padding-right: 5px;
        }

        #loadKmlUI {
        margin-left: 4px;
      }

.container{
height:100%;
    }

.col-md-4{
 background-color:#D3D7E0;
 opacity: 0.8;
margin-top:10%;
padding: 10%;
height:100%;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 5%; right: 0%; bottom: 0%; left: 0%;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
    top: 5%;
    color: #fff;
}
.vid-img {display: block; margin: auto; width: 100%;}
.vid-info { position: absolute; top: 40%; left: 0; width: 100%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 4.5rem; font-weight: 700; margin-top: 0; line-height: 1.2; text-align: center;}
.vid-info a { display: block; color: #fff; text-decoration: none; right: 0; background: rgba(0,0,0,0.4); transition: .2s background; border-bottom: none; margin: 1rem auto; text-align: center; }
.vid-info p {display: block; font-size: 1.5rem;color: #fff; text-decoration: none; right: 0; background: rgba(0,0,0,0); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: right; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 100%; top:30%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.content-container {
    position: relative;
    height:100%;
    margin:auto;
  }

#d-content {
    top: 5%;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
}
.description-content { position: absolute; top:100%; width: 100%; height:175%; background: rgba(240,240,240,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.description-content h1 {font-size: 2.5rem; font-weight: 500; margin-top: 2%; line-height: 1.2; margin-left:7.5%;}
.description-content p {font-size: 2rem; font-weight: 500; margin-top: 5%; line-height: 1.2; margin-left:10%;margin-right:10%;}
.description-content ol {font-size: 2rem; font-weight: 500; margin-top: 5%; line-height: 1.2; margin-left:10%;margin-right:10%;}

#p-content {
    top: 5% auto;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
}

.partners-content { position: absolute; top: 275%; width: 100%; height:200%; background: rgba(255,255,255,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.partners-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; text-align: center;}
.partners-content p {font-size: 2rem; font-weight: 500; margin-top: 5%; line-height: 1.5; text-align: center;}

#f-content {
    top: 5%;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
}

.footer-content { position: absolute; top:475%; left: 0%; width: 100%; height: 10%; background: rgba(25,25,25,1); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.footer-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%;}
.footer-content p {font-size: 1.25rem; font-weight: 100; vertical-align: center;}

#mf-content {
    top: 5%;
    color: #fff;
}

.mfooter-content { position: relative; left: 0%; width: 100%; height: 10%; background: rgba(25,25,25,1); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.mfooter-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%;}
.mfooter-content p {font-size: 1.25rem; font-weight: 100; vertical-align: center;}


#ceo-bar {
    top: 5%;
    color: #fff;
}

.ceo-content {position: absolute; top: 8%; left: 0%; width: 100%; height: 105%; background: rgba(240,240,240,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.ceo-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%;}
.ceo-content p {font-size: 2rem; font-weight: 400; margin-top: 5%; line-height: 1.2; margin-left:10%; margin-right: 10%}
.ceo-img {position: absolute; margin-top: 2%; margin-left: 5%; width:75%;}

#rd-bar {
    top: 5%;
    color: #fff;
}

.rd-content {position: absolute; top: 113%; left: 0%; width: 100%; height: 100%; background: rgba(255,255,255,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.rd-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:5%;}
.rd-content p {font-size: 2rem; font-weight: 500; margin-top: 2%; line-height: 1.2; margin-left:10%; margin-right:10%;}
.rd-img {position: absolute; float:right; vertical-align:center; width:30%; margin: 2%}
.rd-map {position: absolute; top: 2%; width: 10%; height:10% margin-right: 2%; margin-left: 2%; margin-top:2%; margin-right:2%; float:left}


#rdf-content {
    top: 5%;
    color: #fff;
}

.rdfooter-content { position: absolute; top: 275%; left: 0%; width: 100%; height: 10%; background: rgba(25,25,25,1); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.rdfooter-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%;}
.rdfooter-content p {font-size: 1.25rem; font-weight: 100; vertical-align: center;}


#workflow-bar {
    top: 5%;
    color: #fff;
}

.workflow-content {position: absolute; top: 10%; left: 0%; width: 100%; height: 150%; background: rgba(255,255,255,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.workflow-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%; margin-right: 10%}
.workflow-content p {font-size: 2rem; font-weight: 400; margin-top: 2%; line-height: 1.2; width: 30%; float: right; margin-left:2%; margin-right: 10%}
.workflow-text {font-size: 2rem; font-weight: 300; margin-top: 2%; line-height: 1.4; width: 35%; float: right; margin-left:2%; margin-right: 10%}
.workflow-img {position: absolute; left:0; margin-top: 2%; margin-left: 3.5%;margin-right:2%; width:50%;}

#prim-bar {
    top: 5%;
    color: #fff;
}

.prim-content {position: absolute; top: 160%; left: 0%; width: 100%; height: 140%; background: rgba(240,240,240,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.prim-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%; margin-right: 10%}
.prim-content p {font-size: 2rem; font-weight: 400; margin-top: 2%; line-height: 1.2; margin-left:10%; margin-right: 10%}
.prim-frame {
  position:absolute;
  width: 90%;  /* RESPONSIVE WIDTH */
  height: 60%;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:5%;
  margin-top: 10%;
  padding: 0%;

  }

#repo-bar {
    top: 5%;
    color: #fff;
}

.repo-content {position: absolute; top: 300%; left: 0%; width: 100%; height: 100%; background: rgba(255,255,255,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.repo-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%; margin-right: 10%}
.repo-content p {font-size: 1.5rem; font-weight: 350; margin-top: 2%; line-height: 1.2; margin-left:10%; margin-right: 10%}
.repo-content ul {font-size: 2rem; font-weight: 550; margin-top: 2%; line-height: 1.2; margin-left:8%; margin-right: 10%}
.repo-img {position: absolute; left:0; margin-top: 2%; margin-left: 2%;margin-right:2%; width:50%;}

#mf-content {
    top: 5%;
    color: #fff;
}

.mfooter-content { position: absolute; top: 400%; left: 0%; width: 100%; height: 10%; background: rgba(25,25,25,1); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.mfooter-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%;}
.mfooter-content p {font-size: 1.25rem; font-weight: 100; vertical-align: center;}

#train-bar {
    top: 5%;
    color: #fff;
}

.train-content {position: absolute; top: 8%; left: 0%; width: 100%; height: 127%; background: rgba(255,255,255,1); color: #000; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.train-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%; margin-right: 10%}
.train-content p {font-size: 2rem; font-weight: 400; margin-top: 2%; line-height: 1.2; width: 30%; float: right; margin-left:2%; margin-right: 10%}
.train-frame {
  position:absolute;
  width: 90%;  /* RESPONSIVE WIDTH */
  height: 80%;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:5%;
  padding: 0%;

  }

  #tf-content {
    top: 5%;
    color: #fff;
}

.tfooter-content { position: absolute; top:135%; width: 100%; height: 10%; background: rgba(25,25,25,1); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.tfooter-content h1 {font-size: 3rem; font-weight: 700; margin-top: 2%; line-height: 1.2; margin-left:7.5%;}
.tfooter-content p {font-size: 1.25rem; font-weight: 100; vertical-align: center;}
